<div class="page-header">
  <h1 class="text-center">Blocipedia: Social, Markdown Wikis</h1>
</div>

<div class="jumbotron">
  <h2>Create and Share Markdown Wikis</h2>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <p>Create as many public wikis as you want!</p>
    <p>Free Plan</p>
  </div>
  <div class="col-md-6 text-center">
    <p>Create private wikis</p>
    <p>Premium Plan</p>
  </div>
</div>
